{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Flasky{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Hello, {% if name %}{{ name }}{% else %}Stranger{% endif %}!</h1>
    {% if not known %}
    <p>Pleased to meet you!</p>
    {% else %}
    <p>Happy to see you again!</p>
    {% endif %}
</div>
{{ wtf.quick_form(form) }}

<!-- Lista de usuários cadastrados -->
<div class="mt-4">
    <h3>Relação de usuários cadastrados</h3>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nome do Usuário</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td><strong>{{ user.username }}</strong></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
